.all {
height: calc(100%);
}
.footer {
        background-color: rgb(53, 53, 53);
        font-size: 16px;
        color: white;
        text-align: center;
        position:fixed;
        height: 35px;
left:0;
bottom:0;
right:0;

      }
  